html, body {
    padding: 0;
    margin: 0;
    color: white;
    background: rgb(24,24,24);
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Raleway';
    font-weight: 100;
    text-align: center;
}
h1,h2,h3{
    font-weight: 100;
}
#about_me_name{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    text-align: center;
}

.about_me_title{
    
    color: white;
    padding: 10px 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-left:4px solid #F51544;
    text-align: center;

    
}
img{
    display: block;
}
#root {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    
}
nav,ul{
    margin: 0;
    padding: 0;
}

nav{
    background: rgb(32,32,32);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1400' preserveAspectRatio='none' viewBox='0 0 1440 1400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3cpath d='M1221 384L2136 1299' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1333 1146L376 189' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M649 361L1471 1183' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M13 496L519 1002' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1397 1268L984 855' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M143 877L-706 28' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M588 53L-452 -987' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M87 733L643 1289' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M260 239L1200 1179' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1237 49L413 -775' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M833 52L-75 -856' stroke-width='8' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M969 335L1438 804' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1167 792L805 430' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M25 1365L505 1845' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M703 1134L125 556' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M878 1270L-3 389' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M259 979L-346 374' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1318 1337L2059 2078' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1018 1060L1482 1524' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1374 591L960 177' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M941 3L1719 781' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M362 1190L1312 2140' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M999 461L265 -273' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1245 1362L2224 2341' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1252 163L1675 586' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1251 10L1932 691' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M543 325L-213 -431' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M760 1345L1234 1819' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M636 590L1542 1496' stroke-width='8' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1433 641L925 133' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M298 1135L-264 573' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1083 366L1528 811' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M625 285L-423 -763' stroke-width='8' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M796 785L-174 -185' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1303 20L1748 465' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M170 300L-181 -51' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1341 588L2149 1396' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1201 335L625 -241' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M368 625L-631 -374' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M477 163L1311 997' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M319 869L802 1352' stroke-width='6' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1308 476L481 -351' stroke-width='8' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1339 50L933 -356' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1025 1112L1513 1600' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1027 118L166 -743' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M476 465L949 938' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M596 1085L1616 2105' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M784 297L1752 1265' stroke-width='10' stroke='url(%23SvgjsLinearGradient1067)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M736 759L-130 -107' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M630 1051L1513 1934' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M959 461L1930 1432' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='1400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1064'%3e%3cstop stop-color='rgba(245%2c 21%2c 68%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(245%2c 21%2c 68%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1065'%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0.83)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1066'%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0.83)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1067'%3e%3cstop stop-color='rgba(245%2c 21%2c 68%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(245%2c 21%2c 68%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

ul{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

li{
    padding: 1rem;
    list-style-type: none;
    /* border-bottom: 1px solid white; */
}

.single_nav{
    cursor: pointer;
}



.nav_active{
    /* background: rgb(24,24,24); */
    background: #F51544;
    color: white;
}
/* https://bgjar.com/meteor */
content{
    /* background: red; */
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;   
    overflow-x: hidden;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='160' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3cpath d='M899 5L608 -286' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1146 436L826 116' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M647 23L1023 399' stroke-width='6' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M775 376L1046 647' stroke-width='8' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M278 518L-116 124' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1007 83L807 -117' stroke-width='6' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1132 327L1448 643' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1310 122L1514 326' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M865 126L708 -31' stroke-width='6' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M755 548L900 693' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M15 324L356 665' stroke-width='6' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1406 61L1086 -259' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1358 437L954 33' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M801 319L617 135' stroke-width='6' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M480 445L334 299' stroke-width='8' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M879 319L603 43' stroke-width='10' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M867 479L493 105' stroke-width='6' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M197 560L-161 202' stroke-width='8' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1083 157L798 -128' stroke-width='8' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1175 210L1370 405' stroke-width='6' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M792 256L945 409' stroke-width='6' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M175 176L-229 -228' stroke-width='6' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1101 53L808 -240' stroke-width='6' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1231 256L1519 544' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M735 149L917 331' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1216 61L1575 420' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M871 245L533 -93' stroke-width='6' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1066 32L686 -348' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M722 241L877 396' stroke-width='8' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M273 445L-130 42' stroke-width='6' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M665 175L452 -38' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1336 307L1633 604' stroke-width='8' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M717 141L926 350' stroke-width='6' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M995 136L776 -83' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M753 58L459 -236' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M415 27L265 -123' stroke-width='10' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M109 253L352 496' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M211 11L605 405' stroke-width='10' stroke='url(%23SvgjsLinearGradient1037)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M930 424L1283 777' stroke-width='10' stroke='url(%23SvgjsLinearGradient1038)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1037'%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0.83)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1038'%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 6%2c 12%2c 0.83)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
   
}

.single_content{
    width: 100%;
    /* background: red; */
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.icon_link{
    height: 50px;
    width: 50px;
    
}

.skills_single{
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    /* background: rgb(32,32,32); */
    margin-bottom: 10px;
}

#skills_wrapper{
    /* text-align: center;
    display: flex; */

    display: grid;
    
  grid-template-columns: auto auto auto;


  
}

#portfolio_content{
    /* display: grid; */
    
    /* grid-template-columns: auto auto auto; */

    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.4rem;    
  /* width: 100%; */
  max-width: 100%;
  /* display: flex; */
/* flex-direction: column; */
  max-height: 100%;
  overflow-x: scroll;
}

.portfolio_single_wrapper{
    width: 300px;
    height: 100%;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
}

.portfolio_overlay{
    position: absolute;
  width: 100%;
  height: 100%;
 top: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio_single{
    width: 100%;
    height: 100%;
    
    
    /* height: 30   0px; */
}

.button{
    padding: 10px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    display: block;
}
#link_wrapper{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 200px;
}

#contact_content{
    text-align: center;
}

.icon_link2{
    width: 50px;
    height: 50px;
}

.btn_small_wrapper{
    display: flex;
    margin-top: 10px;
}

.btn_small{
    text-decoration: none;
    background: rgb(30,30,32);
    color: white;
    padding: 10px;
    display: block;
    width: 70px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    #root{
        flex-direction: column;
    }
    ul{
        flex-direction: row;
    }
  }
